[submodule "vendor/flymake-phpcs"]
	path = vendor/flymake-phpcs
	url = git://github.com/illusori/emacs-flymake-phpcs.git
[submodule "vendor/phpplus-mode"]
	path = vendor/phpplus-mode
	url = git://github.com/echosa/phpplus-mode.git
